<a href="https://colab.research.google.com/github/NidhiSingh25901/DataPreprocessinginMachineLearning/blob/main/12_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

In [2]:
df = pd.DataFrame({
    'Age' : [20,30,40,50,60,70],
    'Salary' : [20000,30000,40000,50000,60000,70000]
})

In [3]:
scaler = MinMaxScaler()

In [5]:
scaled_data = scaler.fit_transform(df[['Age','Salary']])

In [6]:
scaled_data

array([[0. , 0. ],
       [0.2, 0.2],
       [0.4, 0.4],
       [0.6, 0.6],
       [0.8, 0.8],
       [1. , 1. ]])

In [7]:
scaler = StandardScaler()

In [8]:
scaled_data = scaler.fit_transform(df[['Age','Salary']])

In [9]:
scaled_data

array([[-1.46385011, -1.46385011],
       [-0.87831007, -0.87831007],
       [-0.29277002, -0.29277002],
       [ 0.29277002,  0.29277002],
       [ 0.87831007,  0.87831007],
       [ 1.46385011,  1.46385011]])

In [10]:
scaler = RobustScaler()

In [11]:
scaled_data = scaler.fit_transform(df[['Age','Salary']])

In [12]:
scaled_data

array([[-1. , -1. ],
       [-0.6, -0.6],
       [-0.2, -0.2],
       [ 0.2,  0.2],
       [ 0.6,  0.6],
       [ 1. ,  1. ]])