<a href="https://colab.research.google.com/github/NidhiSingh25901/DataPreprocessinginMachineLearning/blob/main/2_CleaningNumericalFeature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.DataFrame(
    {'age': [25,69,None,49,59],
    'salary': [40000,50000,60000,None,15000]}
)

In [7]:
imputer = SimpleImputer(strategy= "median")
df[['age', 'salary']] = imputer.fit_transform(df[['age', 'salary']])

In [9]:
upper_limit =   df['age'].quantile(0.99)
df['age'] = df['age'].clip(upper=upper_limit)

In [10]:
print(df)

    age   salary
0  25.0  40000.0
1  68.6  50000.0
2  54.0  60000.0
3  49.0  45000.0
4  59.0  15000.0