<a href="https://colab.research.google.com/github/NidhiSingh25901/DataPreprocessinginMachineLearning/blob/main/6_LabelEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','Diana','Eve'],
    'Gender': ['Female','Male','Male','Female','Female'],
    'Size': ['Small','Medium','Large','Medium','Small'],
    'City': ['New York','Los Angeles','New York','San Francisco','Los Angeles']
})

size_order = [['Small','Medium','Large']]
encoder = OrdinalEncoder(categories=size_order)
df['Size'] = encoder.fit_transform(df[['Size']])

In [2]:
print(df)

      Name  Gender  Size           City
0    Alice  Female   0.0       New York
1      Bob    Male   1.0    Los Angeles
2  Charlie    Male   2.0       New York
3    Diana  Female   1.0  San Francisco
4      Eve  Female   0.0    Los Angeles