<a href="https://colab.research.google.com/github/NidhiSingh25901/DataPreprocessinginMachineLearning/blob/main/7OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','Diana','Eve'],
    'Gender': ['Female','Male','Male','Female','Female'],
    'Size': ['Small','Medium','Large','Medium','Small'],
    'City': ['New York','Los Angeles','New York','San Francisco','Los Angeles']
})

df = pd.get_dummies(df, columns=['Gender','City'], drop_first=True)

In [3]:
print(df)

      Name    Size  Gender_Male  City_New York  City_San Francisco
0    Alice   Small        False           True               False
1      Bob  Medium         True          False               False
2  Charlie   Large         True           True               False
3    Diana  Medium        False          False                True
4      Eve   Small        False          False               False